body{
  background-color: #000000;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 12px 18px 12px 18px;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(219, 215, 215);
    padding: 12px 18px 12px 18px;
    border-radius: 10px;
}
ul nav li  a{
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #4e4e4e;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}



section{
    padding: 80px 0;
}
.inicio2{
    padding: 60px;
}


/* From Uiverse.io by Yaya12085 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin:auto;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(255, 255, 255, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width:327px;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(122, 122, 122, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: rgb(104, 104, 104);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/*.formulario h2 {
    margin-bottom: 20px;
    text-align: center;
}
.campo{
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
textarea{
    width: 100%;
    padding: 10px;
    border:  1px solid #fffcfc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #0056b3;
}*/
#inicio{
    background-image: url(img/fondo-1200x480.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-size: cover;
    color: #ffffff;
    font-size: 22px;
    background-attachment: fixed;
}
footer{
    background-color: #f8f4f4;
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
}
   .scroll-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f4f4f4;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    transition: backgroun-color 0.3s;
}
h1{
    text-align: center;
}
nav ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.logo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* From Uiverse.io by alexruix */ 
.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #000000, -35px 50px 0 #000000, -70px 95px 0 #000000;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #ffffff,
            -35px 50px 0 #ffffff,
            -70px 90px 0 #ffffff;
  }

  100% {
    box-shadow: 0 10px 0 #ffffff,
            -35px 50px 0 #ffffff,
            -70px 90px 0 #ffffff,
            -70px 90px 0 rgba(255, 255, 255, 0);
  }
}
h2{
  text-align: center;
}